<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.CommentMapper">

    <sql id="insertFields">
        parent_id, blog_id, accountId, content, user_type, create_time, reply_user_id, reply_user_name
    </sql>

    <sql id="selectFields">
        id,accountId,username,password, salt,phone,status,header_url, create_time,sex,p_signature
    </sql>

    <insert id="insertComment" parameterType="Comment" keyProperty="id">
        insert into comment (<include refid="insertFields"></include>) values (
           #{parentId} ,#{blogId},#{accountId},#{content},#{userType},#{createTime},#{replyUserId},#{replyUserName}
        );

    </insert>


    <delete id="deleteComment"></delete>
    <select id="queryComment"  resultType="com.blog.entity.Vo.CommentVo">
        select c.id,c.parent_id,c.blog_id,c.accountId,c.content,c.user_type,c.reply_user_id,c.reply_user_name,c.create_time,u.header_url,u.username
        from comment c left join user u on c.accountId = u.accountId where c.blog_id = #{blogId} and c.parent_id = #{parentId} order by c.create_time asc;
    </select>

    <select id="queryCommentCount" resultType="java.lang.Integer">
          select count(*) from comment where blog_id = #{blogId}
    </select>
</mapper>