<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.entity.dao.UrlMapper">
    <select id="getUrl" resultType="com.blog.entity.Url">
        select * from url where id &lt;=100 ;
    </select>
    <select id="getSearchUrl" resultType="com.blog.entity.Url">
        select * from url where id &gt;= 101 and id &lt;=200 ;
    </select>
    <select id="getMessageUrl" resultType="com.blog.entity.Url">
        select * from url where id &gt;= 201 ;
    </select>
</mapper>